<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Registro</title>
</head>
<body>
<section id="RegistrarUsuarioVue">
    <div class="container py-4">
        <div class="row">
            <div class="col-lg-7 mx-auto d-flex justify-content-center flex-column">
                <div class="card d-flex justify-content-center p-4 shadow-lg">
                    <div class="text-center">
                        <h3 class="text-gradient text-primary">Regístrate</h3>
                    </div>
                    <form>

                        <label> Usuario <br><input type="text" v-model="usuario" placeholder="Ingrese su nombre de usuario"></label><br>

                        <label> Contraseña <br><input type="password" v-model="contrasenia" placeholder="Ingrese su contraseña"></label><br>

                        <label> Repita la contraseña <br><input type="password" v-model="repeticionContrasenia" placeholder="Ingrese la misma contraseña"></label><br>

                        <br><br>
                        <input type="submit" value="Crear Usuario"  v-on:click="enviarDatos">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="registrarUsuarioVue.js"></script>

</body>
</html>