<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nuevo_contacto</title>
</head>
<body>
<div id="IngresarContactosVue">
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                <label v-for="nombreContacto in contacto">Nombre:</label><br>
                <input type="text" v-bind:value="nombreContacto" name="nombreContactoTexto" v-model="nombreIngresado">
                </label><br>
            </th>

            <th>
                <label v-for="apellidoContacto in contacto">Apellido:</label><br>
                <input type="text" v-bind:value="apellidoContacto" name="apellidoContactoTexto" v-model="apellidoIngresado">
                </label><br>
            </th>

            <th>
                <label v-for="telefonoContacto in contacto">Teléfono personal:</label><br>
                <input type="text" v-bind:value="telefonoContacto" name="telefonoContactoTexto" v-model="telefonoIngresado">
                </label><br>
            </th>

            <th>
                <label v-for="emailContacto in contacto">Correo electrónico:</label><br>
                <input type="text" v-bind:value="emailContacto" name="emailContactoTexto" v-model="emailIngresado">
                </label><br>
            </th>

            <th>
                <label v-for="notificacionesPreferidas in contacto">Notificaciones preferidas:</label><br>
                <input type="checkbox" name="notificacionesPreferidas" v-model="notificacionesPreferidas.value"  value="1">Whatsapp
                <input type="checkbox" name="notificacionesPreferidas" v-model="notificacionesPreferidas.value" value="2">SMS
                <input type="checkbox" name="notificacionesPreferidas" v-model="notificacionesPreferidas.value" value="3">Mail
            </th>
            <th>
                <button type="agregar" value="AgregarContacto" v-on:click="agregarContacto">Agregar contacto</button><br>
                <button type="eliminar" value="EliminarContacto" v-on:click="eliminarContacto">Eliminar contacto</button>
            </th>
        </tr>
        <tr>
            <th>
                <label v-for="nombreContacto in contacto">Nombre:</label><br>
                <input type="text" v-bind:value="nombreContacto" name="nombreContactoTexto" v-model="nombreIngresado">
                </label><br>
            </th>

            <th>
                <label v-for="apellidoContacto in contacto">Apellido:</label><br>
                <input type="text" v-bind:value="apellidoContacto" name="apellidoContactoTexto" v-model="apellidoIngresado">
                </label><br>
            </th>

            <th>
                <label v-for="telefonoContacto in contacto">Teléfono personal:</label><br>
                <input type="text" v-bind:value="telefonoContacto" name="telefonoContactoTexto" v-model="telefonoIngresado">
                </label><br>
            </th>

            <th>
                <label v-for="emailContacto in contacto">Correo electrónico:</label><br>
                <input type="text" v-bind:value="emailContacto" name="emailContactoTexto" v-model="emailIngresado">
                </label><br>
            </th>

            <th>
                <label v-for="notificacionesPreferidas in contacto">Notificaciones preferidas:</label><br>
                <input type="checkbox" name="notificacionesPreferidas" v-model="notificacionesPreferidas.value" value="1">Whatsapp
                <input type="checkbox" name="notificacionesPreferidas" v-model="notificacionesPreferidas.value" value="2">SMS
                <input type="checkbox" name="notificacionesPreferidas" v-model="notificacionesPreferidas.value" value="3">Mail
            </th>
            <th>
                <button type="agregar" value="AgregarContacto" v-on:click="agregarContacto">Agregar contacto</button><br>
                <button type="eliminar" value="EliminarContacto" v-on:click="eliminarContacto">Eliminar contacto</button>
            </th>
        </tr>
        <tr>
            <th>
                <label v-for="nombreContacto in contacto">Nombre:</label><br>
                <input type="text" v-bind:value="nombreContacto" name="nombreContactoTexto" v-model="nombreIngresado">
                </label><br>
            </th>

            <th>
                <label v-for="apellidoContacto in contacto">Apellido:</label><br>
                <input type="text" v-bind:value="apellidoContacto" name="apellidoContactoTexto" v-model="apellidoIngresado">
                </label><br>
            </th>

            <th>
                <label v-for="telefonoContacto in contacto">Teléfono personal:</label><br>
                <input type="text" v-bind:value="telefonoContacto" name="telefonoContactoTexto" v-model="telefonoIngresado">
                </label><br>
            </th>

            <th>
                <label v-for="emailContacto in contacto">Correo electrónico:</label><br>
                <input type="text" v-bind:value="emailContacto" name="emailContactoTexto" v-model="emailIngresado">
                </label><br>
            </th>

            <th>
                <label v-for="notificacionesPreferidas in contacto">Notificaciones preferidas:</label><br>
                <input type="checkbox" name="notificacionesPreferidas" v-model="notificacionesPreferidas.value" value="1">Whatsapp
                <input type="checkbox" name="notificacionesPreferidas" v-model="notificacionesPreferidas.value" value="2">SMS
                <input type="checkbox" name="notificacionesPreferidas" v-model="notificacionesPreferidas.value" value="3">Mail
            </th>
            <th>
                <button type="agregar" value="AgregarContacto" v-on:click="agregarContacto">Agregar contacto</button><br>
                <button type="eliminar" value="EliminarContacto" v-on:click="eliminarContacto">Eliminar contacto</button>
            </th>
        </tr>
    </table>
</div>

</body>
</html>
